.hero {
    margin-top: 10px;
    width: 100%;
    height: 70%;
    padding-bottom: 100px;
    background: url(../../assets/hero/hero.webp) no-repeat fixed center;
  
    &__info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 20%;
      color: #fff;
    }
  
    &__price {
    color: white;
      font-size: 22px;
    }
  
    &__title {
    color: white;
      font-size: 42px;
      max-width: 500px;
    }
  
    &__text {
        color: white;
      font-size: 18px;
    }
  
    &__btn {
      width: 120px;
      color: #000;
      background: #fff;
      padding: 15px 26px;
      transition: 0.3s;
      border-radius: 40px;
      border: 1px solid transparent;
  
      &:hover {
          color: #fff;
          background: none;
          border: 1px solid #fff;
      }
    }
  }
  