.banner__wrapper{
  text-align: center;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(244, 248, 251);
}

.banner__title{
  color: rgb(103, 103, 103);
  margin-bottom: 80px;
}
.banner__list{
  color: rgb(78, 78, 78);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 30px;
}

.banner__desc{
  color: rgb(131, 131, 131);
  margin-bottom: 30px;
}

.m{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50px;
  padding: 200px;
  border: 1px solid black;
}